body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* styles/global.css */
.route-container {
    background-color: lightgray; /* Light gray background */
    flex-grow: 1; /* Ensure it takes up the available space */
    padding: 20px; /* Optional: Adds some spacing around the content */
  }
  