.best-books-container {
    display: flex;
    justify-content: space-between; /* 책들 사이에 공간을 균등하게 배분 */
    flex-wrap: wrap; /* 화면 너비가 충분하지 않을 경우 줄바꿈 */
    margin: 20px 0; /* 상단과 하단 여백 */
  }
  
  /* 필요하다면 BestBook 컴포넌트의 스타일을 추가적으로 조정 */
  