.best-book {
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 20px; /* 여백 추가 */
  }
  
  .book-image {
    max-width: 100%; /* 이미지 최대 너비 제한 */
    height: auto; /* 이미지 높이 자동 조정 */
    margin-bottom: 10px; /* 이미지와 텍스트 사이 여백 */
  }
  
  .book-title {
    margin: 0 0 10px 0; /* 제목 하단 여백 */
    font-size: 20px; /* 제목 폰트 크기 */
  }
  
  .book-author {
    margin: 0; /* 저자 이름 여백 제거 */
    font-size: 16px; /* 저자 이름 폰트 크기 */
    color: #555; /* 저자 이름 색상 */
  }
  